# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local

# Docker & DB
data/db/

# Uploads
api_dados/uploads/*
interface/uploads/*

# OS
.DS_Store
Thumbs.db

