# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local

# Docker & DB
data/

# Storage & Resources
api_dados/storage/resources/*
!api_dados/storage/resources/.gitkeep

# Uploads
**/uploads/*

# OS
.DS_Store
Thumbs.db
