# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# Docker & DB
data/db/

# Uploads & Storage (Ficheiros locais de teste)
api_dados/uploads/*
api_dados/storage/resources/*
interface/uploads/*

# OS
.DS_Store
Thumbs.db
